<%- include("../../partials/template") %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">

                    <% if(message){ %>
                        <div class="alert alert-<%= message.type %> alert-dismissible fade show text-center"
                            role="alert">
                            <strong>
                                <%= message.message %>
                            </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% } %>
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Employe List</h6>
                                <div class="dropdown no-arrow" style=<%="display:" + display %>>
                                    <a href="/sheet_entry" class="btn btn-primary" data-toggle="tooltip"
                                        data-placement="top" title="Add New">Add New
                                        <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                                    </a>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Project</th>
                                                <th>Work Done</th>
                                                <th>Hours</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Project</th>
                                                <th>Work Done</th>
                                                <th>Hours</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% var i=1; sheet_details.forEach((data)=> {
                                                %>
                                                <tr>
                                                    <td>
                                                        <%= i; %>
                                                    </td>
                                                    <td>
                                                        <%= data.date.getDate() + '/' + (data.date.getMonth()+1) + '/' +
                                                            data.date.getFullYear() %>
                                                    </td>
                                                    <td>
                                                        <%= data.project_id.name; %>
                                                    </td>
                                                    <td>
                                                        <%= data.work_done; %>
                                                    </td>
                                                    <td>
                                                        <%= data.hours; %>
                                                    </td>
                                                    <td><a class="btn btn-info btn-circle" data-toggle="tooltip"
                                                            data-placement="top" title="Edit"
                                                            href="/sheet_edit?emp_code=<%=data.emp_code; %>&id=<%= data._id; %>"><i
                                                                class="fas fa-pencil-alt"></i></a>
                                                    </td>
                                                    <td><a class="btn btn-danger btn-circle" data-toggle="tooltip"
                                                            data-placement="top" title="Delete"
                                                            href="/sheet_delete?emp_code=<%=data.emp_code; %>&id=<%= data._id; %>"
                                                            onclick="return check();"><i class="fas fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                                <% i++; }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer") %>

        <script>
            function check() {
                var x = confirm("Are you sure you want to delete?");
                if (x)
                    return true;
                else
                    return false;
            }

            // $('.alert').alert();
        </script>