<%- include("../../partials/template") %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            <%= header %>
                        </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form action="<%= link %>" class="user" method="POST">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <label for="date">From</label>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="date" class="form-control" id="frm_date" name="frm_date"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <label for="date">To</label>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="date" class="form-control" id="to_date" name="to_date"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5" style=<%=report_type=='2' ? 'display:' + 'none' : 'display:'
                                    + 'block' %>>
                                    <div class="form-group row">
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <label for="emp_id">Emp List</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="emp_id" name="emp_id" required>
                                                <option value="0">Select Employe</option>
                                                <% emp_list.forEach((data)=> { %>
                                                    <option value="<%= data.emp_code %>">
                                                        <%= data.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" style=<%=report_type=='1' ? 'display:' + 'none' : 'display:'
                                    + 'block' %>>
                                    <div class="form-group row">
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <label for="project_id">Projects</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="project_id" name="project_id" required>
                                                <option value="0">Select Projects</option>
                                                <% project_list.forEach((data)=> { %>
                                                    <option value="<%= data.project_code %>">
                                                        <%= data.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer") %>